body {
    background-color: #1F4780;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#fps {
    right: 5px;
    top: 5px;
    position: absolute;
}

#score {
    font-size: 2em;
    margin-top: 7.5%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

#statistics {
    background-color: #FFA8FF;
    font-size: 6em;
    left: 25%;
    top: 50%;
    width: 50%;
    transform: translate(0%, -50%);
    position: absolute;
}

.score-label {
    color: #FF46B6;
}


/* CAT FRAME */
.cat-02-14-1, .cat-02-15-1, .cat-03-14-1, .cat-03-16-1, .cat-04-13-1, .cat-04-16-1,
.cat-05-13-1, .cat-05-16-1, .cat-06-13-1, .cat-06-15-1, .cat-06-16-1, .cat-07-12-1,
.cat-07-13-1, .cat-07-15-1, .cat-08-04-1, .cat-08-05-1, .cat-08-06-1, .cat-08-07-1,
.cat-08-08-1, .cat-08-09-1, .cat-08-10-1, .cat-08-11-1, .cat-08-12-1, .cat-08-13-1,
.cat-08-14-1, .cat-08-15-1, .cat-08-16-1, .cat-08-17-1, .cat-08-18-1, .cat-08-19-1,
.cat-08-20-1, .cat-08-21-1, .cat-09-03-1, .cat-09-18-1, .cat-09-21-1, .cat-10-02-1,
.cat-10-19-1, .cat-10-21-1, .cat-11-02-1, .cat-11-19-1, .cat-11-20-1, .cat-12-02-1,
.cat-12-19-1, .cat-13-02-1, .cat-13-19-1, .cat-13-20-1, .cat-14-02-1, .cat-14-19-1,
.cat-14-21-1, .cat-15-02-1, .cat-15-19-1, .cat-15-21-1, .cat-16-02-1, .cat-16-19-1,
.cat-16-20-1, .cat-16-21-1, .cat-17-02-1, .cat-17-19-1, .cat-18-02-1, .cat-18-19-1,
.cat-19-02-1, .cat-19-12-1, .cat-19-13-1, .cat-19-14-1, .cat-19-15-1, .cat-19-16-1,
.cat-19-19-1, .cat-20-02-1, .cat-20-08-1, .cat-20-09-1, .cat-20-10-1, .cat-20-11-1,
.cat-20-17-1, .cat-20-19-1, .cat-21-02-1, .cat-21-07-1, .cat-21-18-1, .cat-21-19-1,
.cat-22-02-1, .cat-22-07-1, .cat-22-19-1, .cat-23-02-1, .cat-23-08-1, .cat-23-14-1,
.cat-23-19-1, .cat-23-20-1, .cat-24-02-1, .cat-24-09-1, .cat-24-13-1, .cat-24-14-1,
.cat-24-16-1, .cat-24-17-1, .cat-24-19-1, .cat-24-21-1, .cat-25-02-1, .cat-25-10-1,
.cat-25-17-1, .cat-25-19-1, .cat-25-21-1, .cat-26-02-1, .cat-26-10-1, .cat-26-17-1,
.cat-26-19-1, .cat-26-20-1, .cat-26-21-1, .cat-27-03-1, .cat-27-10-1, .cat-27-16-1,
.cat-27-17-1, .cat-27-19-1, .cat-28-04-1, .cat-28-05-1, .cat-28-06-1, .cat-28-07-1,
.cat-28-08-1, .cat-28-09-1, .cat-28-10-1, .cat-28-14-1, .cat-28-17-1, .cat-28-19-1,
.cat-28-20-1, .cat-29-09-1, .cat-29-17-1, .cat-29-19-1, .cat-29-21-1, .cat-30-08-1,
.cat-30-14-1, .cat-30-16-1, .cat-30-17-1, .cat-30-19-1, .cat-30-21-1, .cat-31-07-1,
.cat-31-13-1, .cat-31-14-1, .cat-31-19-1, .cat-31-20-1, .cat-31-21-1, .cat-32-07-1,
.cat-32-18-1, .cat-33-08-1, .cat-33-09-1, .cat-33-10-1, .cat-33-11-1, .cat-33-17-1,
.cat-34-12-1, .cat-34-13-1, .cat-34-14-1, .cat-34-15-1, .cat-34-16-1,

.cat-02-15-2, .cat-02-16-2, .cat-03-14-2, .cat-03-17-2, .cat-04-13-2, .cat-04-17-2,
.cat-05-13-2, .cat-05-15-2, .cat-05-16-2, .cat-06-12-2, .cat-06-15-2, .cat-07-12-2,
.cat-07-15-2, .cat-07-19-2, .cat-07-20-2, .cat-07-21-2, .cat-08-04-2, .cat-08-05-2,
.cat-08-06-2, .cat-08-07-2, .cat-08-08-2, .cat-08-09-2, .cat-08-10-2, .cat-08-11-2,
.cat-08-12-2, .cat-08-13-2, .cat-08-14-2, .cat-08-15-2, .cat-08-16-2, .cat-08-17-2,
.cat-08-18-2, .cat-08-21-2, .cat-09-03-2, .cat-09-18-2, .cat-09-21-2, .cat-10-02-2,
.cat-10-19-2, .cat-10-20-2, .cat-11-02-2, .cat-11-19-2, .cat-12-02-2, .cat-12-19-2,
.cat-12-20-2, .cat-13-02-2, .cat-13-19-2, .cat-13-21-2, .cat-14-02-2, .cat-14-19-2,
.cat-14-21-2, .cat-15-02-2, .cat-15-19-2, .cat-15-20-2, .cat-15-21-2, .cat-16-02-2,
.cat-16-19-2, .cat-17-02-2, .cat-17-19-2, .cat-18-02-2, .cat-18-19-2, .cat-19-02-2,
.cat-19-12-2, .cat-19-13-2, .cat-19-14-2, .cat-19-15-2, .cat-19-16-2, .cat-19-19-2,
.cat-20-02-2, .cat-20-08-2, .cat-20-09-2, .cat-20-10-2, .cat-20-11-2, .cat-20-17-2,
.cat-20-19-2, .cat-21-02-2, .cat-21-07-2, .cat-21-18-2, .cat-21-19-2, .cat-22-02-2,
.cat-22-07-2, .cat-22-19-2, .cat-22-20-2, .cat-23-02-2, .cat-23-08-2, .cat-23-14-2,
.cat-23-19-2, .cat-23-21-2, .cat-24-02-2, .cat-24-09-2, .cat-24-13-2, .cat-24-14-2,
.cat-24-16-2, .cat-24-17-2, .cat-24-19-2, .cat-24-21-2, .cat-25-02-2, .cat-25-10-2,
.cat-25-17-2, .cat-25-19-2, .cat-25-20-2, .cat-25-21-2, .cat-26-02-2, .cat-26-10-2,
.cat-26-17-2, .cat-26-19-2, .cat-27-03-2, .cat-27-10-2, .cat-27-16-2, .cat-27-17-2,
.cat-27-19-2, .cat-27-20-2, .cat-28-04-2, .cat-28-05-2, .cat-28-06-2, .cat-28-07-2,
.cat-28-08-2, .cat-28-09-2, .cat-28-10-2, .cat-28-14-2, .cat-28-17-2, .cat-28-19-2,
.cat-28-21-2, .cat-29-09-2, .cat-29-17-2, .cat-29-19-2, .cat-29-21-2, .cat-30-08-2,
.cat-30-14-2, .cat-30-16-2, .cat-30-17-2, .cat-30-19-2, .cat-30-20-2, .cat-30-21-2,
.cat-31-07-2, .cat-31-13-2, .cat-31-14-2, .cat-31-19-2, .cat-32-07-2, .cat-32-18-2,
.cat-33-08-2, .cat-33-09-2, .cat-33-10-2, .cat-33-11-2, .cat-33-17-2, .cat-34-12-2,
.cat-34-13-2, .cat-34-14-2, .cat-34-15-2, .cat-34-16-2,

.cat-01-11-3, .cat-01-12-3, .cat-02-10-3, .cat-02-12-3, .cat-03-10-3, .cat-03-13-3,
.cat-04-10-3, .cat-04-13-3, .cat-05-10-3, .cat-05-11-3, .cat-05-13-3, .cat-05-19-3,
.cat-05-20-3, .cat-05-21-3, .cat-06-11-3, .cat-06-13-3, .cat-06-14-3, .cat-06-18-3,
.cat-06-21-3, .cat-07-11-3, .cat-07-12-3, .cat-07-14-3, .cat-07-17-3, .cat-07-18-3,
.cat-07-21-3, .cat-08-04-3, .cat-08-05-3, .cat-08-06-3, .cat-08-07-3, .cat-08-08-3,
.cat-08-09-3, .cat-08-10-3, .cat-08-11-3, .cat-08-12-3, .cat-08-13-3, .cat-08-14-3,
.cat-08-15-3, .cat-08-16-3, .cat-08-17-3, .cat-08-18-3, .cat-08-20-3, .cat-09-03-3,
.cat-09-18-3, .cat-09-19-3, .cat-10-02-3, .cat-10-19-3, .cat-10-20-3, .cat-11-02-3,
.cat-11-19-3, .cat-11-21-3, .cat-12-02-3, .cat-12-19-3, .cat-12-21-3, .cat-13-02-3,
.cat-13-19-3, .cat-13-20-3, .cat-13-21-3, .cat-14-02-3, .cat-14-19-3, .cat-15-02-3,
.cat-15-19-3, .cat-16-02-3, .cat-16-19-3, .cat-17-02-3, .cat-17-19-3, .cat-18-02-3,
.cat-18-12-3, .cat-18-13-3, .cat-18-14-3, .cat-18-15-3, .cat-18-16-3, .cat-18-19-3,
.cat-19-02-3, .cat-19-08-3, .cat-19-09-3, .cat-19-10-3, .cat-19-11-3, .cat-19-17-3,
.cat-19-19-3, .cat-20-02-3, .cat-20-07-3, .cat-20-18-3, .cat-20-19-3, .cat-20-20-3,
.cat-21-02-3, .cat-21-07-3, .cat-21-19-3, .cat-21-21-3, .cat-22-02-3, .cat-22-08-3,
.cat-22-14-3, .cat-22-19-3, .cat-22-21-3, .cat-23-02-3, .cat-23-09-3, .cat-23-13-3,
.cat-23-14-3, .cat-23-16-3, .cat-23-17-3, .cat-23-19-3, .cat-23-20-3, .cat-23-21-3,
.cat-24-02-3, .cat-24-10-3, .cat-24-17-3, .cat-24-19-3, .cat-25-02-3, .cat-25-10-3,
.cat-25-17-3, .cat-25-19-3, .cat-25-20-3, .cat-26-02-3, .cat-26-10-3, .cat-26-16-3,
.cat-26-17-3, .cat-26-19-3, .cat-26-21-3, .cat-27-03-3, .cat-27-10-3, .cat-27-14-3,
.cat-27-17-3, .cat-27-19-3, .cat-27-21-3, .cat-28-04-3, .cat-28-05-3, .cat-28-06-3,
.cat-28-07-3, .cat-28-08-3, .cat-28-09-3, .cat-28-17-3, .cat-28-19-3, .cat-28-20-3,
.cat-28-21-3, .cat-29-08-3, .cat-29-14-3, .cat-29-16-3, .cat-29-17-3, .cat-29-19-3,
.cat-30-07-3, .cat-30-13-3, .cat-30-14-3, .cat-30-19-3, .cat-31-07-3, .cat-31-18-3,
.cat-32-08-3, .cat-32-09-3, .cat-32-10-3, .cat-32-11-3, .cat-32-17-3, .cat-33-12-3,
.cat-33-13-3, .cat-33-14-3, .cat-33-15-3, .cat-33-16-3,

.cat-02-10-4, .cat-02-11-4, .cat-03-09-4, .cat-03-12-4, .cat-04-09-4, .cat-04-13-4,
.cat-05-10-4, .cat-05-11-4, .cat-05-13-4, .cat-05-19-4, .cat-05-20-4, .cat-05-21-4,
.cat-06-11-4, .cat-06-14-4, .cat-06-18-4, .cat-06-21-4, .cat-07-11-4, .cat-07-14-4,
.cat-07-17-4, .cat-07-21-4, .cat-08-04-4, .cat-08-05-4, .cat-08-06-4, .cat-08-07-4,
.cat-08-08-4, .cat-08-09-4, .cat-08-10-4, .cat-08-11-4, .cat-08-12-4, .cat-08-13-4,
.cat-08-14-4, .cat-08-15-4, .cat-08-16-4, .cat-08-17-4, .cat-08-18-4, .cat-08-20-4,
.cat-09-03-4, .cat-09-18-4, .cat-09-19-4, .cat-10-02-4, .cat-10-19-4, .cat-10-20-4,
.cat-10-21-4, .cat-11-02-4, .cat-11-19-4, .cat-11-21-4, .cat-12-02-4, .cat-12-19-4,
.cat-12-21-4, .cat-13-02-4, .cat-13-19-4, .cat-13-20-4, .cat-14-02-4, .cat-14-19-4,
.cat-15-02-4, .cat-15-19-4, .cat-16-02-4, .cat-16-19-4, .cat-17-02-4, .cat-17-19-4,
.cat-18-02-4, .cat-18-11-4, .cat-18-12-4, .cat-18-13-4, .cat-18-14-4, .cat-18-15-4,
.cat-18-19-4, .cat-19-02-4, .cat-19-07-4, .cat-19-08-4, .cat-19-09-4, .cat-19-10-4,
.cat-19-16-4, .cat-19-19-4, .cat-20-02-4, .cat-20-06-4, .cat-20-17-4, .cat-20-19-4,
.cat-20-20-4, .cat-20-21-4, .cat-21-02-4, .cat-21-06-4, .cat-21-18-4, .cat-21-19-4,
.cat-21-21-4, .cat-22-02-4, .cat-22-07-4, .cat-22-13-4, .cat-22-18-4, .cat-22-19-4,
.cat-22-21-4, .cat-23-02-4, .cat-23-08-4, .cat-23-12-4, .cat-23-13-4, .cat-23-15-4,
.cat-23-16-4, .cat-23-18-4, .cat-23-19-4, .cat-23-20-4, .cat-24-02-4, .cat-24-09-4,
.cat-24-16-4, .cat-24-18-4, .cat-24-19-4, .cat-25-02-4, .cat-25-09-4, .cat-25-16-4,
.cat-25-18-4, .cat-25-19-4, .cat-25-20-4, .cat-26-02-4, .cat-26-09-4, .cat-26-15-4,
.cat-26-16-4, .cat-26-18-4, .cat-26-19-4, .cat-26-21-4, .cat-27-03-4, .cat-27-09-4,
.cat-27-13-4, .cat-27-16-4, .cat-27-18-4, .cat-27-21-4, .cat-28-04-4, .cat-28-05-4,
.cat-28-06-4, .cat-28-07-4, .cat-28-08-4, .cat-28-16-4, .cat-28-18-4, .cat-28-19-4,
.cat-28-20-4, .cat-28-21-4, .cat-29-07-4, .cat-29-13-4, .cat-29-15-4, .cat-29-16-4,
.cat-29-18-4, .cat-30-06-4, .cat-30-12-4, .cat-30-13-4, .cat-30-18-4, .cat-31-06-4,
.cat-31-17-4, .cat-32-07-4, .cat-32-08-4, .cat-32-09-4, .cat-32-10-4, .cat-32-16-4,
.cat-33-11-4, .cat-33-12-4, .cat-33-13-4, .cat-33-14-4, .cat-33-15-4,

.cat-02-08-5, .cat-02-09-5, .cat-02-10-5, .cat-03-08-5, .cat-03-10-5, .cat-03-11-5,
.cat-04-08-5, .cat-04-11-5, .cat-04-12-5, .cat-05-08-5, .cat-05-09-5, .cat-05-12-5,
.cat-05-13-5, .cat-06-09-5, .cat-06-10-5, .cat-06-13-5, .cat-06-18-5, .cat-06-19-5,
.cat-06-20-5, .cat-07-10-5, .cat-07-11-5, .cat-07-13-5, .cat-07-14-5, .cat-07-17-5,
.cat-07-20-5, .cat-08-03-5, .cat-08-04-5, .cat-08-05-5, .cat-08-06-5, .cat-08-07-5,
.cat-08-08-5, .cat-08-09-5, .cat-08-10-5, .cat-08-11-5, .cat-08-12-5, .cat-08-13-5,
.cat-08-14-5, .cat-08-15-5, .cat-08-16-5, .cat-08-17-5, .cat-08-20-5, .cat-09-02-5,
.cat-09-17-5, .cat-09-19-5, .cat-09-20-5, .cat-10-01-5, .cat-10-18-5, .cat-10-19-5,
.cat-11-01-5, .cat-11-18-5, .cat-12-01-5, .cat-12-18-5, .cat-12-19-5, .cat-12-20-5,
.cat-13-01-5, .cat-13-18-5, .cat-13-20-5, .cat-14-01-5, .cat-14-18-5, .cat-14-20-5,
.cat-15-01-5, .cat-15-18-5, .cat-15-19-5, .cat-16-01-5, .cat-16-18-5, .cat-17-01-5,
.cat-17-18-5, .cat-18-01-5, .cat-18-11-5, .cat-18-12-5, .cat-18-13-5, .cat-18-14-5,
.cat-18-15-5, .cat-18-18-5, .cat-19-01-5, .cat-19-07-5, .cat-19-08-5, .cat-19-09-5,
.cat-19-10-5, .cat-19-16-5, .cat-19-18-5, .cat-20-01-5, .cat-20-06-5, .cat-20-17-5,
.cat-20-18-5, .cat-21-01-5, .cat-21-06-5, .cat-21-18-5, .cat-21-19-5, .cat-22-01-5,
.cat-22-07-5, .cat-22-13-5, .cat-22-18-5, .cat-22-20-5, .cat-23-01-5, .cat-23-08-5,
.cat-23-12-5, .cat-23-13-5, .cat-23-15-5, .cat-23-16-5, .cat-23-18-5, .cat-23-20-5,
.cat-24-01-5, .cat-24-09-5, .cat-24-16-5, .cat-24-18-5, .cat-24-19-5, .cat-24-20-5,
.cat-25-01-5, .cat-25-09-5, .cat-25-16-5, .cat-25-18-5, .cat-26-01-5, .cat-26-09-5,
.cat-26-15-5, .cat-26-16-5, .cat-26-18-5, .cat-26-19-5, .cat-27-02-5, .cat-27-09-5,
.cat-27-13-5, .cat-27-16-5, .cat-27-18-5, .cat-27-20-5, .cat-28-03-5, .cat-28-04-5,
.cat-28-05-5, .cat-28-06-5, .cat-28-07-5, .cat-28-08-5, .cat-28-16-5, .cat-28-18-5,
.cat-28-20-5, .cat-29-07-5, .cat-29-13-5, .cat-29-15-5, .cat-29-16-5, .cat-29-18-5,
.cat-29-19-5, .cat-30-06-5, .cat-30-12-5, .cat-30-13-5, .cat-30-18-5, .cat-31-06-5,
.cat-31-17-5, .cat-32-07-5, .cat-32-08-5, .cat-32-09-5, .cat-32-10-5, .cat-32-16-5,
.cat-33-11-5, .cat-33-12-5, .cat-33-13-5, .cat-33-14-5, .cat-33-15-5,

.cat-02-10-6, .cat-02-11-6, .cat-03-09-6, .cat-03-12-6, .cat-04-09-6, .cat-04-13-6,
.cat-05-10-6, .cat-05-11-6, .cat-05-13-6, .cat-06-11-6, .cat-06-14-6, .cat-07-11-6,
.cat-07-14-6, .cat-07-18-6, .cat-07-19-6, .cat-07-20-6, .cat-08-03-6, .cat-08-04-6,
.cat-08-05-6, .cat-08-06-6, .cat-08-07-6, .cat-08-08-6, .cat-08-09-6, .cat-08-10-6,
.cat-08-11-6, .cat-08-12-6, .cat-08-13-6, .cat-08-14-6, .cat-08-15-6, .cat-08-16-6,
.cat-08-17-6, .cat-08-20-6, .cat-09-02-6, .cat-09-17-6, .cat-09-20-6, .cat-10-01-6,
.cat-10-18-6, .cat-10-19-6, .cat-11-01-6, .cat-11-18-6, .cat-12-01-6, .cat-12-18-6,
.cat-12-19-6, .cat-13-01-6, .cat-13-18-6, .cat-13-20-6, .cat-14-01-6, .cat-14-18-6,
.cat-14-20-6, .cat-15-01-6, .cat-15-18-6, .cat-15-19-6, .cat-15-20-6, .cat-16-01-6,
.cat-16-18-6, .cat-17-01-6, .cat-17-18-6, .cat-18-01-6, .cat-18-18-6, .cat-19-01-6,
.cat-19-11-6, .cat-19-12-6, .cat-19-13-6, .cat-19-14-6, .cat-19-15-6, .cat-19-18-6,
.cat-20-01-6, .cat-20-07-6, .cat-20-08-6, .cat-20-09-6, .cat-20-10-6, .cat-20-16-6,
.cat-20-18-6, .cat-21-01-6, .cat-21-06-6, .cat-21-17-6, .cat-21-18-6, .cat-22-01-6,
.cat-22-06-6, .cat-22-18-6, .cat-22-19-6, .cat-23-01-6, .cat-23-07-6, .cat-23-13-6,
.cat-23-18-6, .cat-23-20-6, .cat-24-01-6, .cat-24-08-6, .cat-24-12-6, .cat-24-13-6,
.cat-24-15-6, .cat-24-16-6, .cat-24-18-6, .cat-24-20-6, .cat-25-01-6, .cat-25-09-6,
.cat-25-16-6, .cat-25-18-6, .cat-25-19-6, .cat-25-20-6, .cat-26-01-6, .cat-26-09-6,
.cat-26-16-6, .cat-26-18-6, .cat-27-02-6, .cat-27-09-6, .cat-27-15-6, .cat-27-16-6,
.cat-27-18-6, .cat-27-19-6, .cat-28-03-6, .cat-28-04-6, .cat-28-05-6, .cat-28-06-6,
.cat-28-07-6, .cat-28-08-6, .cat-28-09-6, .cat-28-13-6, .cat-28-16-6, .cat-28-18-6,
.cat-28-20-6, .cat-29-08-6, .cat-29-16-6, .cat-29-18-6, .cat-29-20-6, .cat-30-07-6,
.cat-30-13-6, .cat-30-15-6, .cat-30-16-6, .cat-30-18-6, .cat-30-19-6, .cat-30-20-6,
.cat-31-06-6, .cat-31-12-6, .cat-31-13-6, .cat-31-18-6, .cat-32-06-6, .cat-32-17-6,
.cat-33-07-6, .cat-33-08-6, .cat-33-09-6, .cat-33-10-6, .cat-33-16-6, .cat-34-11-6,
.cat-34-12-6, .cat-34-13-6, .cat-34-14-6, .cat-34-15-6 {
    background-color: #000000;
}

/* CAT EYES */
.cat-23-13-1, .cat-30-13-1, .cat-23-13-2, .cat-30-13-2, .cat-22-13-3, .cat-29-13-3,
.cat-22-12-4, .cat-29-12-4, .cat-22-12-5, .cat-29-12-5, .cat-23-12-6, .cat-30-12-6 {
    background-color: #FFFFFF;
}

/* CAT CHEEKS */
.cat-21-15-1, .cat-21-16-1, .cat-22-15-1, .cat-22-16-1, .cat-32-15-1, .cat-32-16-1,
.cat-33-15-1, .cat-33-16-1, .cat-21-15-2, .cat-21-16-2, .cat-22-15-2, .cat-22-16-2,
.cat-32-15-2, .cat-32-16-2, .cat-33-15-2, .cat-33-16-2, .cat-20-15-3, .cat-20-16-3,
.cat-21-15-3, .cat-21-16-3, .cat-31-15-3, .cat-31-16-3, .cat-32-15-3, .cat-32-16-3,
.cat-20-14-4, .cat-20-15-4, .cat-21-14-4, .cat-21-15-4, .cat-31-14-4, .cat-31-15-4,
.cat-32-14-4, .cat-32-15-4, .cat-20-14-5, .cat-20-15-5, .cat-21-14-5, .cat-21-15-5,
.cat-31-14-5, .cat-31-15-5, .cat-32-14-5, .cat-32-15-5, .cat-21-14-6, .cat-21-15-6,
.cat-22-14-6, .cat-22-15-6, .cat-32-14-6, .cat-32-15-6, .cat-33-14-6, .cat-33-15-6 {
    background-color: #FFA8A8;
}

/* CAT GREY */
.cat-03-15-1, .cat-04-14-1, .cat-04-15-1, .cat-05-14-1, .cat-05-15-1, .cat-06-14-1,
.cat-07-14-1, .cat-09-19-1, .cat-09-20-1, .cat-10-20-1, .cat-14-20-1, .cat-15-20-1,
.cat-20-12-1, .cat-20-13-1, .cat-20-14-1, .cat-20-15-1, .cat-20-16-1, .cat-21-08-1,
.cat-21-09-1, .cat-21-10-1, .cat-21-11-1, .cat-21-12-1, .cat-21-13-1, .cat-21-14-1,
.cat-21-17-1, .cat-22-08-1, .cat-22-09-1, .cat-22-10-1, .cat-22-11-1, .cat-22-12-1,
.cat-22-13-1, .cat-22-14-1, .cat-22-17-1, .cat-22-18-1, .cat-23-09-1, .cat-23-10-1,
.cat-23-11-1, .cat-23-12-1, .cat-23-15-1, .cat-23-16-1, .cat-23-17-1, .cat-23-18-1,
.cat-24-10-1, .cat-24-11-1, .cat-24-12-1, .cat-24-15-1, .cat-24-18-1, .cat-24-20-1,
.cat-25-11-1, .cat-25-12-1, .cat-25-13-1, .cat-25-14-1, .cat-25-15-1, .cat-25-16-1,
.cat-25-18-1, .cat-25-20-1, .cat-26-11-1, .cat-26-12-1, .cat-26-13-1, .cat-26-14-1,
.cat-26-15-1, .cat-26-16-1, .cat-26-18-1, .cat-27-11-1, .cat-27-12-1, .cat-27-13-1,
.cat-27-14-1, .cat-27-15-1, .cat-27-18-1, .cat-28-11-1, .cat-28-12-1, .cat-28-13-1,
.cat-28-15-1, .cat-28-16-1, .cat-28-18-1, .cat-29-10-1, .cat-29-11-1, .cat-29-12-1,
.cat-29-13-1, .cat-29-14-1, .cat-29-15-1, .cat-29-16-1, .cat-29-18-1, .cat-29-20-1,
.cat-30-09-1, .cat-30-10-1, .cat-30-11-1, .cat-30-12-1, .cat-30-15-1, .cat-30-18-1,
.cat-30-20-1, .cat-31-08-1, .cat-31-09-1, .cat-31-10-1, .cat-31-11-1, .cat-31-12-1,
.cat-31-15-1, .cat-31-16-1, .cat-31-17-1, .cat-31-18-1, .cat-32-08-1, .cat-32-09-1,
.cat-32-10-1, .cat-32-11-1, .cat-32-12-1, .cat-32-13-1, .cat-32-14-1, .cat-32-17-1,
.cat-33-12-1, .cat-33-13-1, .cat-33-14-1,

.cat-03-15-2, .cat-03-16-2, .cat-04-14-2, .cat-04-15-2, .cat-04-16-2, .cat-05-14-2,
.cat-06-13-2, .cat-06-14-2, .cat-07-13-2, .cat-07-14-2, .cat-08-19-2, .cat-08-20-2,
.cat-09-19-2, .cat-09-20-2, .cat-13-20-2, .cat-14-20-2, .cat-20-12-2, .cat-20-13-2,
.cat-20-14-2, .cat-20-15-2, .cat-20-16-2, .cat-21-08-2, .cat-21-09-2, .cat-21-10-2,
.cat-21-11-2, .cat-21-12-2, .cat-21-13-2, .cat-21-14-2, .cat-21-17-2, .cat-22-08-2,
.cat-22-09-2, .cat-22-10-2, .cat-22-11-2, .cat-22-12-2, .cat-22-13-2, .cat-22-14-2,
.cat-22-17-2, .cat-22-18-2, .cat-23-09-2, .cat-23-10-2, .cat-23-11-2, .cat-23-12-2,
.cat-23-15-2, .cat-23-16-2, .cat-23-17-2, .cat-23-18-2, .cat-23-20-2, .cat-24-10-2,
.cat-24-11-2, .cat-24-12-2, .cat-24-15-2, .cat-24-18-2, .cat-24-20-2, .cat-25-11-2,
.cat-25-12-2, .cat-25-13-2, .cat-25-14-2, .cat-25-15-2, .cat-25-16-2, .cat-25-18-2,
.cat-26-11-2, .cat-26-12-2, .cat-26-13-2, .cat-26-14-2, .cat-26-15-2, .cat-26-16-2,
.cat-26-18-2, .cat-27-11-2, .cat-27-12-2, .cat-27-13-2, .cat-27-14-2, .cat-27-15-2,
.cat-27-18-2, .cat-28-11-2, .cat-28-12-2, .cat-28-13-2, .cat-28-15-2, .cat-28-16-2,
.cat-28-18-2, .cat-28-20-2, .cat-29-10-2, .cat-29-11-2, .cat-29-12-2, .cat-29-13-2,
.cat-29-14-2, .cat-29-15-2, .cat-29-16-2, .cat-29-18-2, .cat-29-20-2, .cat-30-09-2,
.cat-30-10-2, .cat-30-11-2, .cat-30-12-2, .cat-30-15-2, .cat-30-18-2, .cat-31-08-2,
.cat-31-09-2, .cat-31-10-2, .cat-31-11-2, .cat-31-12-2, .cat-31-15-2, .cat-31-16-2,
.cat-31-17-2, .cat-31-18-2, .cat-32-08-2, .cat-32-09-2, .cat-32-10-2, .cat-32-11-2,
.cat-32-12-2, .cat-32-13-2, .cat-32-14-2, .cat-32-17-2, .cat-33-12-2, .cat-33-13-2,
.cat-33-14-2,

.cat-02-11-3, .cat-03-11-3, .cat-03-12-3, .cat-04-11-3, .cat-04-12-3, .cat-05-12-3,
.cat-06-12-3, .cat-06-19-3, .cat-06-20-3, .cat-07-13-3, .cat-07-19-3, .cat-07-20-3,
.cat-08-19-3, .cat-11-20-3, .cat-12-20-3, .cat-19-12-3, .cat-19-13-3, .cat-19-14-3,
.cat-19-15-3, .cat-19-16-3, .cat-20-08-3, .cat-20-09-3, .cat-20-10-3, .cat-20-11-3,
.cat-20-12-3, .cat-20-13-3, .cat-20-14-3, .cat-20-17-3, .cat-21-08-3, .cat-21-09-3,
.cat-21-10-3, .cat-21-11-3, .cat-21-12-3, .cat-21-13-3, .cat-21-14-3, .cat-21-17-3,
.cat-21-18-3, .cat-21-20-3, .cat-22-09-3, .cat-22-10-3, .cat-22-11-3, .cat-22-12-3,
.cat-22-15-3, .cat-22-16-3, .cat-22-17-3, .cat-22-18-3, .cat-22-20-3, .cat-23-10-3,
.cat-23-11-3, .cat-23-12-3, .cat-23-15-3, .cat-23-18-3, .cat-24-11-3, .cat-24-12-3,
.cat-24-13-3, .cat-24-14-3, .cat-24-15-3, .cat-24-16-3, .cat-24-18-3, .cat-25-11-3,
.cat-25-12-3, .cat-25-13-3, .cat-25-14-3, .cat-25-15-3, .cat-25-16-3, .cat-25-18-3,
.cat-26-11-3, .cat-26-12-3, .cat-26-13-3, .cat-26-14-3, .cat-26-15-3, .cat-26-18-3,
.cat-26-20-3, .cat-27-11-3, .cat-27-12-3, .cat-27-13-3, .cat-27-15-3, .cat-27-16-3,
.cat-27-18-3, .cat-27-20-3, .cat-28-10-3, .cat-28-11-3, .cat-28-12-3, .cat-28-13-3,
.cat-28-14-3, .cat-28-15-3, .cat-28-16-3, .cat-28-18-3, .cat-29-09-3, .cat-29-10-3,
.cat-29-11-3, .cat-29-12-3, .cat-29-15-3, .cat-29-18-3, .cat-30-08-3, .cat-30-09-3,
.cat-30-10-3, .cat-30-11-3, .cat-30-12-3, .cat-30-15-3, .cat-30-16-3, .cat-30-17-3,
.cat-30-18-3, .cat-31-08-3, .cat-31-09-3, .cat-31-10-3, .cat-31-11-3, .cat-31-12-3,
.cat-31-13-3, .cat-31-14-3, .cat-31-17-3, .cat-32-12-3, .cat-32-13-3, .cat-32-14-3,

.cat-03-10-4, .cat-03-11-4, .cat-04-10-4, .cat-04-11-4, .cat-04-12-4, .cat-05-12-4,
.cat-06-12-4, .cat-06-13-4, .cat-06-19-4, .cat-06-20-4, .cat-07-12-4, .cat-07-13-4,
.cat-07-18-4, .cat-07-19-4, .cat-07-20-4, .cat-08-19-4, .cat-11-20-4, .cat-12-20-4,
.cat-19-11-4, .cat-19-12-4, .cat-19-13-4, .cat-19-14-4, .cat-19-15-4, .cat-20-07-4,
.cat-20-08-4, .cat-20-09-4, .cat-20-10-4, .cat-20-11-4, .cat-20-12-4, .cat-20-13-4,
.cat-20-16-4, .cat-21-07-4, .cat-21-08-4, .cat-21-09-4, .cat-21-10-4, .cat-21-11-4,
.cat-21-12-4, .cat-21-13-4, .cat-21-16-4, .cat-21-17-4, .cat-21-20-4, .cat-22-08-4,
.cat-22-09-4, .cat-22-10-4, .cat-22-11-4, .cat-22-14-4, .cat-22-15-4, .cat-22-16-4,
.cat-22-17-4, .cat-22-20-4, .cat-23-09-4, .cat-23-10-4, .cat-23-11-4, .cat-23-14-4,
.cat-23-17-4, .cat-24-10-4, .cat-24-11-4, .cat-24-12-4, .cat-24-13-4, .cat-24-14-4,
.cat-24-15-4, .cat-24-17-4, .cat-25-10-4, .cat-25-11-4, .cat-25-12-4, .cat-25-13-4,
.cat-25-14-4, .cat-25-15-4, .cat-25-17-4, .cat-26-10-4, .cat-26-11-4, .cat-26-12-4,
.cat-26-13-4, .cat-26-14-4, .cat-26-17-4, .cat-26-20-4, .cat-27-10-4, .cat-27-11-4,
.cat-27-12-4, .cat-27-14-4, .cat-27-15-4, .cat-27-17-4, .cat-27-19-4, .cat-27-20-4,
.cat-28-09-4, .cat-28-10-4, .cat-28-11-4, .cat-28-12-4, .cat-28-13-4, .cat-28-14-4,
.cat-28-15-4, .cat-28-17-4, .cat-29-08-4, .cat-29-09-4, .cat-29-10-4, .cat-29-11-4,
.cat-29-14-4, .cat-29-17-4, .cat-30-07-4, .cat-30-08-4, .cat-30-09-4, .cat-30-10-4,
.cat-30-11-4, .cat-30-14-4, .cat-30-15-4, .cat-30-16-4, .cat-30-17-4, .cat-31-07-4,
.cat-31-08-4, .cat-31-09-4, .cat-31-10-4, .cat-31-11-4, .cat-31-12-4, .cat-31-13-4,
.cat-31-16-4, .cat-32-11-4, .cat-32-12-4, .cat-32-13-4,

.cat-03-09-5, .cat-04-09-5, .cat-04-10-5, .cat-05-10-5, .cat-05-11-5, .cat-06-11-5,
.cat-06-12-5, .cat-07-12-5, .cat-07-18-5, .cat-07-19-5, .cat-08-18-5, .cat-08-19-5,
.cat-09-18-5, .cat-13-19-5, .cat-14-19-5, .cat-19-11-5, .cat-19-12-5, .cat-19-13-5,
.cat-19-14-5, .cat-19-15-5, .cat-20-07-5, .cat-20-08-5, .cat-20-09-5, .cat-20-10-5,
.cat-20-11-5, .cat-20-12-5, .cat-20-13-5, .cat-20-16-5, .cat-21-07-5, .cat-21-08-5,
.cat-21-09-5, .cat-21-10-5, .cat-21-11-5, .cat-21-12-5, .cat-21-13-5, .cat-21-16-5,
.cat-21-17-5, .cat-22-08-5, .cat-22-09-5, .cat-22-10-5, .cat-22-11-5, .cat-22-14-5,
.cat-22-15-5, .cat-22-16-5, .cat-22-17-5, .cat-22-19-5, .cat-23-09-5, .cat-23-10-5,
.cat-23-11-5, .cat-23-14-5, .cat-23-17-5, .cat-23-19-5, .cat-24-10-5, .cat-24-11-5,
.cat-24-12-5, .cat-24-13-5, .cat-24-14-5, .cat-24-15-5, .cat-24-17-5, .cat-25-10-5,
.cat-25-11-5, .cat-25-12-5, .cat-25-13-5, .cat-25-14-5, .cat-25-15-5, .cat-25-17-5,
.cat-26-10-5, .cat-26-11-5, .cat-26-12-5, .cat-26-13-5, .cat-26-14-5, .cat-26-17-5,
.cat-27-10-5, .cat-27-11-5, .cat-27-12-5, .cat-27-14-5, .cat-27-15-5, .cat-27-17-5,
.cat-27-19-5, .cat-28-09-5, .cat-28-10-5, .cat-28-11-5, .cat-28-12-5, .cat-28-13-5,
.cat-28-14-5, .cat-28-15-5, .cat-28-17-5, .cat-28-19-5, .cat-29-08-5, .cat-29-09-5,
.cat-29-10-5, .cat-29-11-5, .cat-29-14-5, .cat-29-17-5, .cat-30-07-5, .cat-30-08-5,
.cat-30-09-5, .cat-30-10-5, .cat-30-11-5, .cat-30-14-5, .cat-30-15-5, .cat-30-16-5,
.cat-30-17-5, .cat-31-07-5, .cat-31-08-5, .cat-31-09-5, .cat-31-10-5, .cat-31-11-5,
.cat-31-12-5, .cat-31-13-5, .cat-31-16-5, .cat-32-11-5, .cat-32-12-5, .cat-32-13-5,

.cat-03-10-6, .cat-03-11-6, .cat-04-10-6, .cat-04-11-6, .cat-04-12-6, .cat-05-12-6,
.cat-06-12-6, .cat-06-13-6, .cat-07-12-6, .cat-07-13-6, .cat-08-18-6, .cat-08-19-6,
.cat-09-18-6, .cat-09-19-6, .cat-13-19-6, .cat-14-19-6, .cat-20-11-6, .cat-20-12-6,
.cat-20-13-6, .cat-20-14-6, .cat-20-15-6, .cat-21-07-6, .cat-21-08-6, .cat-21-09-6,
.cat-21-10-6, .cat-21-11-6, .cat-21-12-6, .cat-21-13-6, .cat-21-16-6, .cat-22-07-6,
.cat-22-08-6, .cat-22-09-6, .cat-22-10-6, .cat-22-11-6, .cat-22-12-6, .cat-22-13-6,
.cat-22-16-6, .cat-22-17-6, .cat-23-08-6, .cat-23-09-6, .cat-23-10-6, .cat-23-11-6,
.cat-23-14-6, .cat-23-15-6, .cat-23-16-6, .cat-23-17-6, .cat-23-19-6, .cat-24-09-6,
.cat-24-10-6, .cat-24-11-6, .cat-24-14-6, .cat-24-17-6, .cat-24-19-6, .cat-25-10-6,
.cat-25-11-6, .cat-25-12-6, .cat-25-13-6, .cat-25-14-6, .cat-25-15-6, .cat-25-17-6,
.cat-26-10-6, .cat-26-11-6, .cat-26-12-6, .cat-26-13-6, .cat-26-14-6, .cat-26-15-6,
.cat-26-17-6, .cat-27-10-6, .cat-27-11-6, .cat-27-12-6, .cat-27-13-6, .cat-27-14-6,
.cat-27-17-6, .cat-28-10-6, .cat-28-11-6, .cat-28-12-6, .cat-28-14-6, .cat-28-15-6,
.cat-28-17-6, .cat-28-19-6, .cat-29-09-6, .cat-29-10-6, .cat-29-11-6, .cat-29-12-6,
.cat-29-13-6, .cat-29-14-6, .cat-29-15-6, .cat-29-17-6, .cat-29-19-6, .cat-30-08-6,
.cat-30-09-6, .cat-30-10-6, .cat-30-11-6, .cat-30-14-6, .cat-30-17-6, .cat-31-07-6,
.cat-31-08-6, .cat-31-09-6, .cat-31-10-6, .cat-31-11-6, .cat-31-14-6, .cat-31-15-6,
.cat-31-16-6, .cat-31-17-6, .cat-32-07-6, .cat-32-08-6, .cat-32-09-6, .cat-32-10-6,
.cat-32-11-6, .cat-32-12-6, .cat-32-13-6, .cat-32-16-6, .cat-33-11-6, .cat-33-12-6,
.cat-33-13-6 {
    background-color: #A8A8A8;
}

/* CAT BODY BEIGE */
.cat-09-04-1, .cat-09-05-1, .cat-09-06-1, .cat-09-07-1, .cat-09-08-1, .cat-09-09-1,
.cat-09-10-1, .cat-09-11-1, .cat-09-12-1, .cat-09-13-1, .cat-09-14-1, .cat-09-15-1,
.cat-09-16-1, .cat-09-17-1, .cat-10-03-1, .cat-10-04-1, .cat-10-05-1, .cat-10-16-1,
.cat-10-17-1, .cat-10-18-1, .cat-11-03-1, .cat-11-04-1, .cat-11-17-1, .cat-11-18-1,
.cat-12-03-1, .cat-12-18-1, .cat-13-03-1, .cat-13-18-1, .cat-14-03-1, .cat-14-18-1,
.cat-15-03-1, .cat-15-18-1, .cat-16-03-1, .cat-16-18-1, .cat-17-03-1, .cat-17-18-1,
.cat-18-03-1, .cat-18-18-1, .cat-19-03-1, .cat-19-18-1, .cat-20-03-1, .cat-20-18-1,
.cat-21-03-1, .cat-22-03-1, .cat-23-03-1, .cat-24-03-1, .cat-25-03-1, .cat-25-04-1,
.cat-26-03-1, .cat-26-04-1, .cat-26-05-1, .cat-27-04-1, .cat-27-05-1, .cat-27-06-1,
.cat-27-07-1, .cat-27-08-1, .cat-27-09-1,

.cat-09-04-2, .cat-09-05-2, .cat-09-06-2, .cat-09-07-2, .cat-09-08-2, .cat-09-09-2,
.cat-09-10-2, .cat-09-11-2, .cat-09-12-2, .cat-09-13-2, .cat-09-14-2, .cat-09-15-2,
.cat-09-16-2, .cat-09-17-2, .cat-10-03-2, .cat-10-04-2, .cat-10-05-2, .cat-10-16-2,
.cat-10-17-2, .cat-10-18-2, .cat-11-03-2, .cat-11-04-2, .cat-11-17-2, .cat-11-18-2,
.cat-12-03-2, .cat-12-18-2, .cat-13-03-2, .cat-13-18-2, .cat-14-03-2, .cat-14-18-2,
.cat-15-03-2, .cat-15-18-2, .cat-16-03-2, .cat-16-18-2, .cat-17-03-2, .cat-17-18-2,
.cat-18-03-2, .cat-18-18-2, .cat-19-03-2, .cat-19-18-2, .cat-20-03-2, .cat-20-18-2,
.cat-21-03-2, .cat-22-03-2, .cat-23-03-2, .cat-24-03-2, .cat-25-03-2, .cat-25-04-2,
.cat-26-03-2, .cat-26-04-2, .cat-26-05-2, .cat-27-04-2, .cat-27-05-2, .cat-27-06-2,
.cat-27-07-2, .cat-27-08-2, .cat-27-09-2,

.cat-09-04-3, .cat-09-05-3, .cat-09-06-3, .cat-09-07-3, .cat-09-08-3, .cat-09-09-3,
.cat-09-10-3, .cat-09-11-3, .cat-09-12-3, .cat-09-13-3, .cat-09-14-3, .cat-09-15-3,
.cat-09-16-3, .cat-09-17-3, .cat-10-03-3, .cat-10-04-3, .cat-10-05-3, .cat-10-16-3,
.cat-10-17-3, .cat-10-18-3, .cat-11-03-3, .cat-11-04-3, .cat-11-17-3, .cat-11-18-3,
.cat-12-03-3, .cat-12-18-3, .cat-13-03-3, .cat-13-18-3, .cat-14-03-3, .cat-14-18-3,
.cat-15-03-3, .cat-15-18-3, .cat-16-03-3, .cat-16-18-3, .cat-17-03-3, .cat-17-18-3,
.cat-18-03-3, .cat-18-18-3, .cat-19-03-3, .cat-19-18-3, .cat-20-03-3, .cat-21-03-3,
.cat-22-03-3, .cat-23-03-3, .cat-24-03-3, .cat-25-03-3, .cat-25-04-3, .cat-26-03-3,
.cat-26-04-3, .cat-26-05-3, .cat-27-04-3, .cat-27-05-3, .cat-27-06-3, .cat-27-07-3,
.cat-27-08-3, .cat-27-09-3,

.cat-09-04-4, .cat-09-05-4, .cat-09-06-4, .cat-09-07-4, .cat-09-08-4, .cat-09-09-4,
.cat-09-10-4, .cat-09-11-4, .cat-09-12-4, .cat-09-13-4, .cat-09-14-4, .cat-09-15-4,
.cat-09-16-4, .cat-09-17-4, .cat-10-03-4, .cat-10-04-4, .cat-10-05-4, .cat-10-16-4,
.cat-10-17-4, .cat-10-18-4, .cat-11-03-4, .cat-11-04-4, .cat-11-17-4, .cat-11-18-4,
.cat-12-03-4, .cat-12-18-4, .cat-13-03-4, .cat-13-18-4, .cat-14-03-4, .cat-14-18-4,
.cat-15-03-4, .cat-15-18-4, .cat-16-03-4, .cat-16-18-4, .cat-17-03-4, .cat-17-18-4,
.cat-18-03-4, .cat-18-18-4, .cat-19-03-4, .cat-19-18-4, .cat-20-03-4, .cat-20-18-4,
.cat-21-03-4, .cat-22-03-4, .cat-23-03-4, .cat-24-03-4, .cat-25-03-4, .cat-25-04-4,
.cat-26-03-4, .cat-26-04-4, .cat-26-05-4, .cat-27-04-4, .cat-27-05-4, .cat-27-06-4,
.cat-27-07-4, .cat-27-08-4,

.cat-09-03-5, .cat-09-04-5, .cat-09-05-5, .cat-09-06-5, .cat-09-07-5, .cat-09-08-5,
.cat-09-09-5, .cat-09-10-5, .cat-09-11-5, .cat-09-12-5, .cat-09-13-5, .cat-09-14-5,
.cat-09-15-5, .cat-09-16-5, .cat-10-02-5, .cat-10-03-5, .cat-10-04-5, .cat-10-15-5,
.cat-10-16-5, .cat-10-17-5, .cat-11-02-5, .cat-11-03-5, .cat-11-16-5, .cat-11-17-5,
.cat-12-02-5, .cat-12-17-5, .cat-13-02-5, .cat-13-17-5, .cat-14-02-5, .cat-14-17-5,
.cat-15-02-5, .cat-15-17-5, .cat-16-02-5, .cat-16-17-5, .cat-17-02-5, .cat-17-17-5,
.cat-18-02-5, .cat-18-17-5, .cat-19-02-5, .cat-19-17-5, .cat-20-02-5, .cat-21-02-5,
.cat-22-02-5, .cat-23-02-5, .cat-24-02-5, .cat-25-02-5, .cat-25-03-5, .cat-26-02-5,
.cat-26-03-5, .cat-26-04-5, .cat-27-03-5, .cat-27-04-5, .cat-27-05-5, .cat-27-06-5,
.cat-27-07-5, .cat-27-08-5,

.cat-09-03-6, .cat-09-04-6, .cat-09-05-6, .cat-09-06-6, .cat-09-07-6, .cat-09-08-6,
.cat-09-09-6, .cat-09-10-6, .cat-09-11-6, .cat-09-12-6, .cat-09-13-6, .cat-09-14-6,
.cat-09-15-6, .cat-09-16-6, .cat-10-02-6, .cat-10-03-6, .cat-10-04-6, .cat-10-15-6,
.cat-10-16-6, .cat-10-17-6, .cat-11-02-6, .cat-11-03-6, .cat-11-16-6, .cat-11-17-6,
.cat-12-02-6, .cat-12-17-6, .cat-13-02-6, .cat-13-17-6, .cat-14-02-6, .cat-14-17-6,
.cat-15-02-6, .cat-15-17-6, .cat-16-02-6, .cat-16-17-6, .cat-17-02-6, .cat-17-17-6,
.cat-18-02-6, .cat-18-17-6, .cat-19-02-6, .cat-19-17-6, .cat-20-02-6, .cat-20-17-6,
.cat-21-02-6, .cat-22-02-6, .cat-23-02-6, .cat-24-02-6, .cat-25-02-6, .cat-25-03-6,
.cat-26-02-6, .cat-26-03-6, .cat-26-04-6, .cat-27-03-6, .cat-27-04-6, .cat-27-05-6,
.cat-27-06-6, .cat-27-07-6, .cat-27-08-6 {
    background-color: #FFCAA8;
}

/* CAT BODY LIGHT */
.cat-10-06-1, .cat-10-07-1, .cat-10-08-1, .cat-10-09-1, .cat-10-10-1, .cat-10-11-1,
.cat-10-12-1, .cat-10-13-1, .cat-10-14-1, .cat-10-15-1, .cat-11-05-1, .cat-11-06-1,
.cat-11-07-1, .cat-11-08-1, .cat-11-09-1, .cat-11-10-1, .cat-11-11-1, .cat-11-12-1,
.cat-11-14-1, .cat-11-15-1, .cat-11-16-1, .cat-12-04-1, .cat-12-05-1, .cat-12-07-1,
.cat-12-08-1, .cat-12-09-1, .cat-12-10-1, .cat-12-11-1, .cat-12-12-1, .cat-12-13-1,
.cat-12-14-1, .cat-12-15-1, .cat-12-17-1, .cat-13-04-1, .cat-13-05-1, .cat-13-06-1,
.cat-13-07-1, .cat-13-08-1, .cat-13-09-1, .cat-13-10-1, .cat-13-12-1, .cat-13-13-1,
.cat-13-14-1, .cat-13-15-1, .cat-13-16-1, .cat-13-17-1, .cat-14-04-1, .cat-14-05-1,
.cat-14-06-1, .cat-14-07-1, .cat-14-08-1, .cat-14-09-1, .cat-14-10-1, .cat-14-11-1,
.cat-14-12-1, .cat-14-13-1, .cat-14-14-1, .cat-14-15-1, .cat-14-16-1, .cat-14-17-1,
.cat-15-04-1, .cat-15-05-1, .cat-15-06-1, .cat-15-07-1, .cat-15-08-1, .cat-15-09-1,
.cat-15-10-1, .cat-15-11-1, .cat-15-12-1, .cat-15-13-1, .cat-15-14-1, .cat-15-16-1,
.cat-15-17-1, .cat-16-04-1, .cat-16-05-1, .cat-16-06-1, .cat-16-07-1, .cat-16-08-1,
.cat-16-10-1, .cat-16-11-1, .cat-16-12-1, .cat-16-13-1, .cat-16-14-1, .cat-16-15-1,
.cat-16-16-1, .cat-16-17-1, .cat-17-04-1, .cat-17-06-1, .cat-17-07-1, .cat-17-08-1,
.cat-17-09-1, .cat-17-10-1, .cat-17-11-1, .cat-17-13-1, .cat-17-14-1, .cat-17-15-1,
.cat-17-16-1, .cat-17-17-1, .cat-18-04-1, .cat-18-05-1, .cat-18-06-1, .cat-18-07-1,
.cat-18-08-1, .cat-18-09-1, .cat-18-10-1, .cat-18-11-1, .cat-18-12-1, .cat-18-13-1,
.cat-18-14-1, .cat-18-15-1, .cat-18-16-1, .cat-18-17-1, .cat-19-04-1, .cat-19-05-1,
.cat-19-06-1, .cat-19-07-1, .cat-19-08-1, .cat-19-09-1, .cat-19-10-1, .cat-19-11-1,
.cat-19-17-1, .cat-20-04-1, .cat-20-06-1, .cat-20-07-1, .cat-21-04-1, .cat-21-05-1,
.cat-21-06-1, .cat-22-04-1, .cat-22-05-1, .cat-22-06-1, .cat-23-04-1, .cat-23-05-1,
.cat-23-06-1, .cat-23-07-1, .cat-24-04-1, .cat-24-05-1, .cat-24-06-1, .cat-24-08-1,
.cat-25-05-1, .cat-25-06-1, .cat-25-07-1, .cat-25-08-1, .cat-25-09-1, .cat-26-06-1,
.cat-26-07-1, .cat-26-08-1, .cat-26-09-1,

.cat-10-06-2, .cat-10-07-2, .cat-10-08-2, .cat-10-09-2, .cat-10-10-2, .cat-10-11-2,
.cat-10-12-2, .cat-10-13-2, .cat-10-14-2, .cat-10-15-2, .cat-11-05-2, .cat-11-06-2,
.cat-11-07-2, .cat-11-08-2, .cat-11-09-2, .cat-11-10-2, .cat-11-11-2, .cat-11-12-2,
.cat-11-14-2, .cat-11-15-2, .cat-11-16-2, .cat-12-04-2, .cat-12-05-2, .cat-12-07-2,
.cat-12-08-2, .cat-12-09-2, .cat-12-10-2, .cat-12-11-2, .cat-12-12-2, .cat-12-13-2,
.cat-12-14-2, .cat-12-15-2, .cat-12-17-2, .cat-13-04-2, .cat-13-05-2, .cat-13-06-2,
.cat-13-07-2, .cat-13-08-2, .cat-13-09-2, .cat-13-10-2, .cat-13-12-2, .cat-13-13-2,
.cat-13-14-2, .cat-13-15-2, .cat-13-16-2, .cat-13-17-2, .cat-14-04-2, .cat-14-05-2,
.cat-14-06-2, .cat-14-07-2, .cat-14-08-2, .cat-14-09-2, .cat-14-10-2, .cat-14-11-2,
.cat-14-12-2, .cat-14-13-2, .cat-14-14-2, .cat-14-15-2, .cat-14-16-2, .cat-14-17-2,
.cat-15-04-2, .cat-15-05-2, .cat-15-06-2, .cat-15-07-2, .cat-15-08-2, .cat-15-09-2,
.cat-15-10-2, .cat-15-11-2, .cat-15-12-2, .cat-15-13-2, .cat-15-14-2, .cat-15-16-2,
.cat-15-17-2, .cat-16-04-2, .cat-16-05-2, .cat-16-06-2, .cat-16-07-2, .cat-16-08-2,
.cat-16-10-2, .cat-16-11-2, .cat-16-12-2, .cat-16-13-2, .cat-16-14-2, .cat-16-15-2,
.cat-16-16-2, .cat-16-17-2, .cat-17-04-2, .cat-17-06-2, .cat-17-07-2, .cat-17-08-2,
.cat-17-09-2, .cat-17-10-2, .cat-17-11-2, .cat-17-13-2, .cat-17-14-2, .cat-17-15-2,
.cat-17-16-2, .cat-17-17-2, .cat-18-04-2, .cat-18-05-2, .cat-18-06-2, .cat-18-07-2,
.cat-18-08-2, .cat-18-09-2, .cat-18-10-2, .cat-18-11-2, .cat-18-12-2, .cat-18-13-2,
.cat-18-14-2, .cat-18-15-2, .cat-18-16-2, .cat-18-17-2, .cat-19-04-2, .cat-19-05-2,
.cat-19-06-2, .cat-19-07-2, .cat-19-08-2, .cat-19-09-2, .cat-19-10-2, .cat-19-11-2,
.cat-19-17-2, .cat-20-04-2, .cat-20-06-2, .cat-20-07-2, .cat-21-04-2, .cat-21-05-2,
.cat-21-06-2, .cat-22-04-2, .cat-22-05-2, .cat-22-06-2, .cat-23-04-2, .cat-23-05-2,
.cat-23-06-2, .cat-23-07-2, .cat-24-04-2, .cat-24-05-2, .cat-24-06-2, .cat-24-08-2,
.cat-25-05-2, .cat-25-06-2, .cat-25-07-2, .cat-25-08-2, .cat-25-09-2, .cat-26-06-2,
.cat-26-07-2, .cat-26-08-2, .cat-26-09-2,

.cat-10-06-3, .cat-10-07-3, .cat-10-08-3, .cat-10-09-3, .cat-10-10-3, .cat-10-11-3,
.cat-10-12-3, .cat-10-13-3, .cat-10-14-3, .cat-10-15-3, .cat-11-05-3, .cat-11-06-3,
.cat-11-07-3, .cat-11-08-3, .cat-11-09-3, .cat-11-10-3, .cat-11-11-3, .cat-11-12-3,
.cat-11-14-3, .cat-11-15-3, .cat-11-16-3, .cat-12-04-3, .cat-12-05-3, .cat-12-07-3,
.cat-12-08-3, .cat-12-09-3, .cat-12-10-3, .cat-12-11-3, .cat-12-12-3, .cat-12-13-3,
.cat-12-14-3, .cat-12-15-3, .cat-12-17-3, .cat-13-04-3, .cat-13-05-3, .cat-13-06-3,
.cat-13-07-3, .cat-13-08-3, .cat-13-09-3, .cat-13-10-3, .cat-13-12-3, .cat-13-13-3,
.cat-13-14-3, .cat-13-15-3, .cat-13-16-3, .cat-13-17-3, .cat-14-04-3, .cat-14-05-3,
.cat-14-06-3, .cat-14-07-3, .cat-14-08-3, .cat-14-09-3, .cat-14-10-3, .cat-14-11-3,
.cat-14-12-3, .cat-14-13-3, .cat-14-14-3, .cat-14-15-3, .cat-14-16-3, .cat-14-17-3,
.cat-15-04-3, .cat-15-05-3, .cat-15-06-3, .cat-15-07-3, .cat-15-08-3, .cat-15-09-3,
.cat-15-10-3, .cat-15-11-3, .cat-15-12-3, .cat-15-13-3, .cat-15-14-3, .cat-15-16-3,
.cat-15-17-3, .cat-16-04-3, .cat-16-05-3, .cat-16-06-3, .cat-16-07-3, .cat-16-08-3,
.cat-16-10-3, .cat-16-11-3, .cat-16-12-3, .cat-16-13-3, .cat-16-14-3, .cat-16-15-3,
.cat-16-16-3, .cat-16-17-3, .cat-17-04-3, .cat-17-06-3, .cat-17-07-3, .cat-17-08-3,
.cat-17-09-3, .cat-17-10-3, .cat-17-11-3, .cat-17-13-3, .cat-17-14-3, .cat-17-15-3,
.cat-17-16-3, .cat-17-17-3, .cat-18-04-3, .cat-18-05-3, .cat-18-06-3, .cat-18-07-3,
.cat-18-08-3, .cat-18-09-3, .cat-18-10-3, .cat-18-11-3, .cat-18-17-3, .cat-19-04-3,
.cat-19-05-3, .cat-19-06-3, .cat-19-07-3, .cat-20-04-3, .cat-20-06-3, .cat-21-04-3,
.cat-21-05-3, .cat-21-06-3, .cat-22-04-3, .cat-22-05-3, .cat-22-06-3, .cat-22-07-3,
.cat-23-04-3, .cat-23-05-3, .cat-23-06-3, .cat-23-07-3, .cat-23-08-3, .cat-24-04-3,
.cat-24-05-3, .cat-24-06-3, .cat-24-08-3, .cat-24-09-3, .cat-25-05-3, .cat-25-06-3,
.cat-25-07-3, .cat-25-08-3, .cat-25-09-3, .cat-26-06-3, .cat-26-07-3, .cat-26-08-3,
.cat-26-09-3,

.cat-10-06-4, .cat-10-07-4, .cat-10-08-4, .cat-10-09-4, .cat-10-10-4, .cat-10-11-4,
.cat-10-12-4, .cat-10-13-4, .cat-10-14-4, .cat-10-15-4, .cat-11-05-4, .cat-11-06-4,
.cat-11-07-4, .cat-11-08-4, .cat-11-09-4, .cat-11-10-4, .cat-11-11-4, .cat-11-12-4,
.cat-11-14-4, .cat-11-15-4, .cat-11-16-4, .cat-12-04-4, .cat-12-05-4, .cat-12-07-4,
.cat-12-08-4, .cat-12-09-4, .cat-12-10-4, .cat-12-11-4, .cat-12-12-4, .cat-12-13-4,
.cat-12-14-4, .cat-12-15-4, .cat-12-17-4, .cat-13-04-4, .cat-13-05-4, .cat-13-06-4,
.cat-13-07-4, .cat-13-08-4, .cat-13-09-4, .cat-13-10-4, .cat-13-12-4, .cat-13-13-4,
.cat-13-14-4, .cat-13-15-4, .cat-13-16-4, .cat-13-17-4, .cat-14-04-4, .cat-14-05-4,
.cat-14-06-4, .cat-14-07-4, .cat-14-08-4, .cat-14-09-4, .cat-14-10-4, .cat-14-11-4,
.cat-14-12-4, .cat-14-13-4, .cat-14-14-4, .cat-14-15-4, .cat-14-16-4, .cat-14-17-4,
.cat-15-04-4, .cat-15-05-4, .cat-15-06-4, .cat-15-07-4, .cat-15-08-4, .cat-15-09-4,
.cat-15-10-4, .cat-15-11-4, .cat-15-12-4, .cat-15-13-4, .cat-15-14-4, .cat-15-16-4,
.cat-15-17-4, .cat-16-04-4, .cat-16-05-4, .cat-16-06-4, .cat-16-07-4, .cat-16-08-4,
.cat-16-10-4, .cat-16-11-4, .cat-16-12-4, .cat-16-13-4, .cat-16-14-4, .cat-16-15-4,
.cat-16-16-4, .cat-16-17-4, .cat-17-04-4, .cat-17-06-4, .cat-17-07-4, .cat-17-08-4,
.cat-17-09-4, .cat-17-10-4, .cat-17-11-4, .cat-17-13-4, .cat-17-14-4, .cat-17-15-4,
.cat-17-16-4, .cat-17-17-4, .cat-18-04-4, .cat-18-05-4, .cat-18-06-4, .cat-18-07-4,
.cat-18-08-4, .cat-18-09-4, .cat-18-10-4, .cat-18-16-4, .cat-18-17-4, .cat-19-04-4,
.cat-19-05-4, .cat-19-06-4, .cat-19-17-4, .cat-20-04-4, .cat-21-04-4, .cat-21-05-4,
.cat-22-04-4, .cat-22-05-4, .cat-22-06-4, .cat-23-04-4, .cat-23-05-4, .cat-23-06-4,
.cat-23-07-4, .cat-24-04-4, .cat-24-05-4, .cat-24-06-4, .cat-24-08-4, .cat-25-05-4,
.cat-25-06-4, .cat-25-07-4, .cat-25-08-4, .cat-26-06-4, .cat-26-07-4, .cat-26-08-4,

.cat-10-05-5, .cat-10-06-5, .cat-10-07-5, .cat-10-08-5, .cat-10-09-5, .cat-10-10-5,
.cat-10-11-5, .cat-10-12-5, .cat-10-13-5, .cat-10-14-5, .cat-11-04-5, .cat-11-05-5,
.cat-11-06-5, .cat-11-07-5, .cat-11-08-5, .cat-11-09-5, .cat-11-10-5, .cat-11-11-5,
.cat-11-13-5, .cat-11-14-5, .cat-11-15-5, .cat-12-03-5, .cat-12-04-5, .cat-12-06-5,
.cat-12-07-5, .cat-12-08-5, .cat-12-09-5, .cat-12-10-5, .cat-12-11-5, .cat-12-12-5,
.cat-12-13-5, .cat-12-14-5, .cat-12-16-5, .cat-13-03-5, .cat-13-04-5, .cat-13-05-5,
.cat-13-06-5, .cat-13-07-5, .cat-13-08-5, .cat-13-09-5, .cat-13-11-5, .cat-13-12-5,
.cat-13-13-5, .cat-13-14-5, .cat-13-15-5, .cat-13-16-5, .cat-14-03-5, .cat-14-04-5,
.cat-14-05-5, .cat-14-06-5, .cat-14-07-5, .cat-14-08-5, .cat-14-09-5, .cat-14-10-5,
.cat-14-11-5, .cat-14-12-5, .cat-14-13-5, .cat-14-14-5, .cat-14-15-5, .cat-14-16-5,
.cat-15-03-5, .cat-15-04-5, .cat-15-05-5, .cat-15-06-5, .cat-15-07-5, .cat-15-08-5,
.cat-15-09-5, .cat-15-10-5, .cat-15-11-5, .cat-15-12-5, .cat-15-13-5, .cat-15-15-5,
.cat-15-16-5, .cat-16-03-5, .cat-16-04-5, .cat-16-05-5, .cat-16-06-5, .cat-16-07-5,
.cat-16-09-5, .cat-16-10-5, .cat-16-11-5, .cat-16-12-5, .cat-16-13-5, .cat-16-14-5,
.cat-16-15-5, .cat-16-16-5, .cat-17-03-5, .cat-17-05-5, .cat-17-06-5, .cat-17-07-5,
.cat-17-08-5, .cat-17-09-5, .cat-17-10-5, .cat-17-12-5, .cat-17-13-5, .cat-17-14-5,
.cat-17-15-5, .cat-17-16-5, .cat-18-03-5, .cat-18-04-5, .cat-18-05-5, .cat-18-06-5,
.cat-18-07-5, .cat-18-08-5, .cat-18-09-5, .cat-18-10-5, .cat-18-16-5, .cat-19-03-5,
.cat-19-04-5, .cat-19-05-5, .cat-19-06-5, .cat-20-03-5, .cat-20-05-5, .cat-21-03-5,
.cat-21-04-5, .cat-21-05-5, .cat-22-03-5, .cat-22-04-5, .cat-22-05-5, .cat-22-06-5,
.cat-23-03-5, .cat-23-04-5, .cat-23-05-5, .cat-23-06-5, .cat-23-07-5, .cat-24-03-5,
.cat-24-04-5, .cat-24-05-5, .cat-24-07-5, .cat-24-08-5, .cat-25-04-5, .cat-25-05-5,
.cat-25-06-5, .cat-25-07-5, .cat-25-08-5, .cat-26-05-5, .cat-26-06-5, .cat-26-07-5,
.cat-26-08-5,

.cat-10-05-6, .cat-10-06-6, .cat-10-07-6, .cat-10-08-6, .cat-10-09-6, .cat-10-10-6,
.cat-10-11-6, .cat-10-12-6, .cat-10-13-6, .cat-10-14-6, .cat-11-04-6, .cat-11-05-6,
.cat-11-06-6, .cat-11-07-6, .cat-11-08-6, .cat-11-09-6, .cat-11-10-6, .cat-11-11-6,
.cat-11-13-6, .cat-11-14-6, .cat-11-15-6, .cat-12-03-6, .cat-12-04-6, .cat-12-06-6,
.cat-12-07-6, .cat-12-08-6, .cat-12-09-6, .cat-12-10-6, .cat-12-11-6, .cat-12-12-6,
.cat-12-13-6, .cat-12-14-6, .cat-12-16-6, .cat-13-03-6, .cat-13-04-6, .cat-13-05-6,
.cat-13-06-6, .cat-13-07-6, .cat-13-08-6, .cat-13-09-6, .cat-13-11-6, .cat-13-12-6,
.cat-13-13-6, .cat-13-14-6, .cat-13-15-6, .cat-13-16-6, .cat-14-03-6, .cat-14-04-6,
.cat-14-05-6, .cat-14-06-6, .cat-14-07-6, .cat-14-08-6, .cat-14-09-6, .cat-14-10-6,
.cat-14-11-6, .cat-14-12-6, .cat-14-13-6, .cat-14-14-6, .cat-14-15-6, .cat-14-16-6,
.cat-15-03-6, .cat-15-04-6, .cat-15-05-6, .cat-15-06-6, .cat-15-07-6, .cat-15-08-6,
.cat-15-09-6, .cat-15-10-6, .cat-15-11-6, .cat-15-12-6, .cat-15-13-6, .cat-15-15-6,
.cat-15-16-6, .cat-16-03-6, .cat-16-04-6, .cat-16-05-6, .cat-16-06-6, .cat-16-07-6,
.cat-16-09-6, .cat-16-10-6, .cat-16-11-6, .cat-16-12-6, .cat-16-13-6, .cat-16-14-6,
.cat-16-15-6, .cat-16-16-6, .cat-17-03-6, .cat-17-05-6, .cat-17-06-6, .cat-17-07-6,
.cat-17-08-6, .cat-17-09-6, .cat-17-10-6, .cat-17-12-6, .cat-17-13-6, .cat-17-14-6,
.cat-17-15-6, .cat-17-16-6, .cat-18-03-6, .cat-18-04-6, .cat-18-05-6, .cat-18-06-6,
.cat-18-07-6, .cat-18-08-6, .cat-18-09-6, .cat-18-10-6, .cat-18-11-6, .cat-18-12-6,
.cat-18-13-6, .cat-18-14-6, .cat-18-15-6, .cat-18-16-6, .cat-19-03-6, .cat-19-04-6,
.cat-19-05-6, .cat-19-06-6, .cat-19-07-6, .cat-19-08-6, .cat-19-09-6, .cat-19-10-6,
.cat-19-16-6, .cat-20-03-6, .cat-20-05-6, .cat-20-06-6, .cat-21-03-6, .cat-21-04-6,
.cat-21-05-6, .cat-22-03-6, .cat-22-04-6, .cat-22-05-6, .cat-23-03-6, .cat-23-04-6,
.cat-23-05-6, .cat-23-06-6, .cat-24-03-6, .cat-24-04-6, .cat-24-05-6, .cat-24-07-6,
.cat-25-04-6, .cat-25-05-6, .cat-25-06-6, .cat-25-07-6, .cat-25-08-6, .cat-26-05-6,
.cat-26-06-6, .cat-26-07-6, .cat-26-08-6 {
    background-color: #FFA8FF;
}

/* CAT BODY DARK */
.cat-11-13-1, .cat-12-06-1, .cat-12-16-1, .cat-13-11-1, .cat-15-15-1, .cat-16-09-1,
.cat-17-05-1, .cat-17-12-1, .cat-20-05-1, .cat-24-07-1,

.cat-11-13-2, .cat-12-06-2, .cat-12-16-2, .cat-13-11-2, .cat-15-15-2, .cat-16-09-2,
.cat-17-05-2, .cat-17-12-2, .cat-20-05-2, .cat-24-07-2,

.cat-11-13-3, .cat-12-06-3, .cat-12-16-3, .cat-13-11-3, .cat-15-15-3, .cat-16-09-3,
.cat-17-05-3, .cat-17-12-3, .cat-20-05-3, .cat-24-07-3,

.cat-11-13-4, .cat-12-06-4, .cat-12-16-4, .cat-13-11-4, .cat-15-15-4, .cat-16-09-4,
.cat-17-05-4, .cat-17-12-4, .cat-20-05-4, .cat-24-07-4,

.cat-11-12-5, .cat-12-05-5, .cat-12-15-5, .cat-13-10-5, .cat-15-14-5, .cat-16-08-5,
.cat-17-04-5, .cat-17-11-5, .cat-20-04-5, .cat-24-06-5,

.cat-11-12-6, .cat-12-05-6, .cat-12-15-6, .cat-13-10-6, .cat-15-14-6, .cat-16-08-6,
.cat-17-04-6, .cat-17-11-6, .cat-20-04-6, .cat-24-06-6 {
    background-color: #FF46B6;
}

/* RAINBOW RED */
.cat-01-02-1, .cat-01-03-1, .cat-01-04-1, .cat-02-02-1, .cat-02-03-1, .cat-02-04-1,
.cat-03-02-1, .cat-03-03-1, .cat-03-04-1, .cat-04-02-1, .cat-04-03-1, .cat-04-04-1,
.cat-05-02-1, .cat-05-03-1, .cat-05-04-1, .cat-06-02-1, .cat-06-03-1, .cat-06-04-1,
.cat-07-02-1, .cat-07-03-1, .cat-07-04-1, .cat-08-02-1, .cat-08-03-1, .cat-09-02-1,

.cat-01-02-2, .cat-01-03-2, .cat-01-04-2, .cat-02-02-2, .cat-02-03-2, .cat-02-04-2,
.cat-03-02-2, .cat-03-03-2, .cat-03-04-2, .cat-04-02-2, .cat-04-03-2, .cat-04-04-2,
.cat-05-02-2, .cat-05-03-2, .cat-05-04-2, .cat-06-02-2, .cat-06-03-2, .cat-06-04-2,
.cat-07-02-2, .cat-07-03-2, .cat-07-04-2, .cat-08-02-2, .cat-08-03-2, .cat-09-02-2,

.cat-01-02-3, .cat-01-03-3, .cat-01-04-3, .cat-02-02-3, .cat-02-03-3, .cat-02-04-3,
.cat-03-02-3, .cat-03-03-3, .cat-03-04-3, .cat-04-02-3, .cat-04-03-3, .cat-04-04-3,
.cat-05-02-3, .cat-05-03-3, .cat-05-04-3, .cat-06-02-3, .cat-06-03-3, .cat-06-04-3,
.cat-07-02-3, .cat-07-03-3, .cat-07-04-3, .cat-08-02-3, .cat-08-03-3, .cat-09-02-3,

.cat-01-02-4, .cat-01-03-4, .cat-01-04-4, .cat-02-02-4, .cat-02-03-4, .cat-02-04-4,
.cat-03-02-4, .cat-03-03-4, .cat-03-04-4, .cat-04-02-4, .cat-04-03-4, .cat-04-04-4,
.cat-05-02-4, .cat-05-03-4, .cat-05-04-4, .cat-06-02-4, .cat-06-03-4, .cat-06-04-4,
.cat-07-02-4, .cat-07-03-4, .cat-07-04-4, .cat-08-02-4, .cat-08-03-4, .cat-09-02-4,

.cat-01-01-5, .cat-01-02-5, .cat-01-03-5, .cat-02-01-5, .cat-02-02-5, .cat-02-03-5,
.cat-03-01-5, .cat-03-02-5, .cat-03-03-5, .cat-04-01-5, .cat-04-02-5, .cat-04-03-5,
.cat-05-01-5, .cat-05-02-5, .cat-05-03-5, .cat-06-01-5, .cat-06-02-5, .cat-06-03-5,
.cat-07-01-5, .cat-07-02-5, .cat-07-03-5, .cat-08-01-5, .cat-08-02-5, .cat-09-01-5,

.cat-01-01-6, .cat-01-02-6, .cat-01-03-6, .cat-02-01-6, .cat-02-02-6, .cat-02-03-6,
.cat-03-01-6, .cat-03-02-6, .cat-03-03-6, .cat-04-01-6, .cat-04-02-6, .cat-04-03-6,
.cat-05-01-6, .cat-05-02-6, .cat-05-03-6, .cat-06-01-6, .cat-06-02-6, .cat-06-03-6,
.cat-07-01-6, .cat-07-02-6, .cat-07-03-6, .cat-08-01-6, .cat-08-02-6, .cat-09-01-6,

.rainbow-1, .rainbow-2, .rainbow-3 {
    background-color: #FF1212;
}

/* RAINBOW ORANGE */
.cat-01-05-1, .cat-01-06-1, .cat-01-07-1, .cat-02-05-1, .cat-02-06-1, .cat-02-07-1,
.cat-03-05-1, .cat-03-06-1, .cat-03-07-1, .cat-04-05-1, .cat-04-06-1, .cat-04-07-1,
.cat-05-05-1, .cat-05-06-1, .cat-05-07-1, .cat-06-05-1, .cat-06-06-1, .cat-06-07-1,
.cat-07-05-1, .cat-07-06-1, .cat-07-07-1,

.cat-01-05-2, .cat-01-06-2, .cat-01-07-2, .cat-02-05-2, .cat-02-06-2, .cat-02-07-2,
.cat-03-05-2, .cat-03-06-2, .cat-03-07-2, .cat-04-05-2, .cat-04-06-2, .cat-04-07-2,
.cat-05-05-2, .cat-05-06-2, .cat-05-07-2, .cat-06-05-2, .cat-06-06-2, .cat-06-07-2,
.cat-07-05-2, .cat-07-06-2, .cat-07-07-2,

.cat-01-05-3, .cat-01-06-3, .cat-01-07-3, .cat-02-05-3, .cat-02-06-3, .cat-02-07-3,
.cat-03-05-3, .cat-03-06-3, .cat-03-07-3, .cat-04-05-3, .cat-04-06-3, .cat-04-07-3,
.cat-05-05-3, .cat-05-06-3, .cat-05-07-3, .cat-06-05-3, .cat-06-06-3, .cat-06-07-3,
.cat-07-05-3, .cat-07-06-3, .cat-07-07-3,

.cat-01-05-4, .cat-01-06-4, .cat-01-07-4, .cat-02-05-4, .cat-02-06-4, .cat-02-07-4,
.cat-03-05-4, .cat-03-06-4, .cat-03-07-4, .cat-04-05-4, .cat-04-06-4, .cat-04-07-4,
.cat-05-05-4, .cat-05-06-4, .cat-05-07-4, .cat-06-05-4, .cat-06-06-4, .cat-06-07-4,
.cat-07-05-4, .cat-07-06-4, .cat-07-07-4,

.cat-01-04-5, .cat-01-05-5, .cat-01-06-5, .cat-02-04-5, .cat-02-05-5, .cat-02-06-5,
.cat-03-04-5, .cat-03-05-5, .cat-03-06-5, .cat-04-04-5, .cat-04-05-5, .cat-04-06-5,
.cat-05-04-5, .cat-05-05-5, .cat-05-06-5, .cat-06-04-5, .cat-06-05-5, .cat-06-06-5,
.cat-07-04-5, .cat-07-05-5, .cat-07-06-5,

.cat-01-04-6, .cat-01-05-6, .cat-01-06-6, .cat-02-04-6, .cat-02-05-6, .cat-02-06-6,
.cat-03-04-6, .cat-03-05-6, .cat-03-06-6, .cat-04-04-6, .cat-04-05-6, .cat-04-06-6,
.cat-05-04-6, .cat-05-05-6, .cat-05-06-6, .cat-06-04-6, .cat-06-05-6, .cat-06-06-6,
.cat-07-04-6, .cat-07-05-6, .cat-07-06-6,

.rainbow-4, .rainbow-5, .rainbow-6 {
    background-color: #FFA80D;
}

/* RAINBOW YELLOW */
.cat-01-08-1, .cat-01-09-1, .cat-01-10-1, .cat-02-08-1, .cat-02-09-1, .cat-02-10-1,
.cat-03-08-1, .cat-03-09-1, .cat-03-10-1, .cat-04-08-1, .cat-04-09-1, .cat-04-10-1,
.cat-05-08-1, .cat-05-09-1, .cat-05-10-1, .cat-06-08-1, .cat-06-09-1, .cat-06-10-1,
.cat-07-08-1, .cat-07-09-1, .cat-07-10-1,

.cat-01-08-2, .cat-01-09-2, .cat-01-10-2, .cat-02-08-2, .cat-02-09-2, .cat-02-10-2,
.cat-03-08-2, .cat-03-09-2, .cat-03-10-2, .cat-04-08-2, .cat-04-09-2, .cat-04-10-2,
.cat-05-08-2, .cat-05-09-2, .cat-05-10-2, .cat-06-08-2, .cat-06-09-2, .cat-06-10-2,
.cat-07-08-2, .cat-07-09-2, .cat-07-10-2,

.cat-01-08-3, .cat-01-09-3, .cat-01-10-3, .cat-02-08-3, .cat-02-09-3, .cat-03-08-3,
.cat-03-09-3, .cat-04-08-3, .cat-04-09-3, .cat-05-08-3, .cat-05-09-3, .cat-06-08-3,
.cat-06-09-3, .cat-06-10-3, .cat-07-08-3, .cat-07-09-3, .cat-07-10-3,

.cat-01-08-4, .cat-01-09-4, .cat-01-10-4, .cat-02-08-4, .cat-02-09-4, .cat-03-08-4,
.cat-04-08-4, .cat-05-08-4, .cat-05-09-4, .cat-06-08-4, .cat-06-09-4, .cat-06-10-4,
.cat-07-08-4, .cat-07-09-4, .cat-07-10-4,

.cat-01-07-5, .cat-01-08-5, .cat-01-09-5, .cat-02-07-5, .cat-03-07-5, .cat-04-07-5,
.cat-05-07-5, .cat-06-07-5, .cat-06-08-5, .cat-07-07-5, .cat-07-08-5, .cat-07-09-5,

.cat-01-07-6, .cat-01-08-6, .cat-01-09-6, .cat-02-07-6, .cat-02-08-6, .cat-02-09-6,
.cat-03-07-6, .cat-03-08-6, .cat-04-07-6, .cat-04-08-6, .cat-05-07-6, .cat-05-08-6,
.cat-05-09-6, .cat-06-07-6, .cat-06-08-6, .cat-06-09-6, .cat-07-07-6, .cat-07-08-6,
.cat-07-09-6,

.rainbow-7, .rainbow-8, .rainbow-9 {
    background-color: #FFFF07;
}

/* RAINBOW GREEN */
.cat-01-11-1, .cat-01-12-1, .cat-01-13-1, .cat-02-11-1, .cat-02-12-1, .cat-02-13-1,
.cat-03-11-1, .cat-03-12-1, .cat-03-13-1, .cat-04-11-1, .cat-04-12-1, .cat-05-11-1,
.cat-05-12-1, .cat-06-11-1, .cat-06-12-1, .cat-07-11-1,

.cat-01-11-2, .cat-01-12-2, .cat-01-13-2, .cat-02-11-2, .cat-02-12-2, .cat-02-13-2,
.cat-03-11-2, .cat-03-12-2, .cat-03-13-2, .cat-04-11-2, .cat-04-12-2, .cat-05-11-2,
.cat-05-12-2, .cat-06-11-2, .cat-07-11-2,

.cat-01-13-3, .cat-02-13-3,

.cat-01-11-4, .cat-01-12-4, .cat-01-13-4, .cat-02-12-4, .cat-02-13-4, .cat-03-13-4,

.cat-01-10-5, .cat-01-11-5, .cat-01-12-5, .cat-02-11-5, .cat-02-12-5, .cat-03-12-5,

.cat-01-10-6, .cat-01-11-6, .cat-01-12-6, .cat-02-12-6, .cat-06-10-6, .cat-07-10-6,

.rainbow-10, .rainbow-11, .rainbow-12 {
    background-color: #3FFF0D;
}

/* RAINBOW BLUE */
.cat-01-14-1, .cat-01-15-1, .cat-01-16-1, .cat-02-16-1, .cat-07-16-1,

.cat-01-14-2, .cat-01-15-2, .cat-01-16-2, .cat-02-14-2, .cat-06-16-2, .cat-07-16-2,

.cat-01-14-3, .cat-01-15-3, .cat-01-16-3, .cat-02-14-3, .cat-02-15-3, .cat-02-16-3,
.cat-03-14-3, .cat-03-15-3, .cat-03-16-3, .cat-04-14-3, .cat-04-15-3, .cat-04-16-3,
.cat-05-14-3, .cat-05-15-3, .cat-05-16-3, .cat-06-15-3, .cat-06-16-3, .cat-07-15-3,
.cat-07-16-3,

.cat-01-14-4, .cat-01-15-4, .cat-01-16-4, .cat-02-14-4, .cat-02-15-4, .cat-02-16-4,
.cat-03-14-4, .cat-03-15-4, .cat-03-16-4, .cat-04-14-4, .cat-04-15-4, .cat-04-16-4,
.cat-05-14-4, .cat-05-15-4, .cat-05-16-4, .cat-06-15-4, .cat-06-16-4, .cat-07-15-4,
.cat-07-16-4,

.cat-01-13-5, .cat-01-14-5, .cat-01-15-5, .cat-02-13-5, .cat-02-14-5, .cat-02-15-5,
.cat-03-13-5, .cat-03-14-5, .cat-03-15-5, .cat-04-13-5, .cat-04-14-5, .cat-04-15-5,
.cat-05-14-5, .cat-05-15-5, .cat-06-14-5, .cat-06-15-5, .cat-07-15-5,

.cat-01-13-6, .cat-01-14-6, .cat-01-15-6, .cat-02-13-6, .cat-02-14-6, .cat-02-15-6,
.cat-03-13-6, .cat-03-14-6, .cat-03-15-6, .cat-04-14-6, .cat-04-15-6, .cat-05-14-6,
.cat-05-15-6, .cat-06-15-6, .cat-07-15-6,

.rainbow-13, .rainbow-14, .rainbow-15 {
    background-color: #12A8FF;
}

/* RAINBOW PURPLE */
.cat-01-17-1, .cat-01-18-1, .cat-01-19-1, .cat-02-17-1, .cat-02-18-1, .cat-02-19-1,
.cat-03-17-1, .cat-03-18-1, .cat-03-19-1, .cat-04-17-1, .cat-04-18-1, .cat-04-19-1,
.cat-05-17-1, .cat-05-18-1, .cat-05-19-1, .cat-06-17-1, .cat-06-18-1, .cat-06-19-1,
.cat-07-17-1, .cat-07-18-1, .cat-07-19-1,

.cat-01-17-2, .cat-01-18-2, .cat-01-19-2, .cat-02-17-2, .cat-02-18-2, .cat-02-19-2,
.cat-03-18-2, .cat-03-19-2, .cat-04-18-2, .cat-04-19-2, .cat-05-17-2, .cat-05-18-2,
.cat-05-19-2, .cat-06-17-2, .cat-06-18-2, .cat-06-19-2, .cat-07-17-2, .cat-07-18-2,

.cat-01-17-3, .cat-01-18-3, .cat-01-19-3, .cat-02-17-3, .cat-02-18-3, .cat-02-19-3,
.cat-03-17-3, .cat-03-18-3, .cat-03-19-3, .cat-04-17-3, .cat-04-18-3, .cat-04-19-3,
.cat-05-17-3, .cat-05-18-3, .cat-06-17-3,

.cat-01-17-4, .cat-01-18-4, .cat-01-19-4, .cat-02-17-4, .cat-02-18-4, .cat-02-19-4,
.cat-03-17-4, .cat-03-18-4, .cat-03-19-4, .cat-04-17-4, .cat-04-18-4, .cat-04-19-4,
.cat-05-17-4, .cat-05-18-4, .cat-06-17-4,

.cat-01-16-5, .cat-01-17-5, .cat-01-18-5, .cat-02-16-5, .cat-02-17-5, .cat-02-18-5,
.cat-03-16-5, .cat-03-17-5, .cat-03-18-5, .cat-04-16-5, .cat-04-17-5, .cat-04-18-5,
.cat-05-16-5, .cat-05-17-5, .cat-05-18-5, .cat-06-16-5, .cat-06-17-5, .cat-07-16-5,

.cat-01-16-6, .cat-01-17-6, .cat-01-18-6, .cat-02-16-6, .cat-02-17-6, .cat-02-18-6,
.cat-03-16-6, .cat-03-17-6, .cat-03-18-6, .cat-04-16-6, .cat-04-17-6, .cat-04-18-6,
.cat-05-16-6, .cat-05-17-6, .cat-05-18-6, .cat-06-16-6, .cat-06-17-6, .cat-06-18-6,
.cat-07-16-6, .cat-07-17-6,

.rainbow-16, .rainbow-17, .rainbow-18 {
    background-color: #773FFF;
}

/* DEBRIS-1 and STARS */
.debris-1, .star-4-4-1, .star-3-4-2, .star-4-3-2, .star-4-4-2, .star-4-5-2, .star-5-4-2,
.star-3-4-3, .star-4-3-3, .star-4-5-3, .star-5-4-3, .star-2-4-4, .star-3-4-4, .star-4-2-4,
.star-4-3-4, .star-4-5-4, .star-4-6-4, .star-5-4-4, .star-6-4-4, .star-2-4-5, .star-4-2-5,
.star-4-6-5, .star-6-4-5, .star-1-4-6, .star-2-4-6, .star-4-1-6, .star-4-2-6, .star-4-4-6,
.star-4-6-6, .star-4-7-6, .star-6-4-6, .star-7-4-6, .star-1-4-7, .star-2-2-7, .star-2-6-7,
.star-4-1-7, .star-4-7-7, .star-6-2-7, .star-6-6-7, .star-7-4-7, .star-1-4-8, .star-4-1-8,
.star-4-7-8, .star-7-4-8 {
    background-color: #F5FEFF;
}

.debris-2 {
    background-color: #D5DEDF;
}

.debris-3 {
    background-color: #B5BEBF;
}

.debris-4 {
    background-color: #959E9F;
}

.debris-5 {
    background-color: #757E7F;
}
